
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index15</title>
</head>
<body>
    <div>
        <a href="/Home/Index14">Home 1</a>
        <a href="/Home/Index12">Home 2</a>
        <a href="/Home/Index15?a=1&s=abc">Home 3</a>
    </div>
</body>
</html>
