

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
</head>
<body>
    <div>
        @CustomHelper.Image("https://images.unsplash.com/photo-1606115915090-be18fea23ec7?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8anBlZ3xlbnwwfHwwfHx8MA%3D%3D", "This is the Attractive Image")
        @*@Html.Image1("https://jpeg.org/images/jpegsystems-home.jpg", "This is an Image")*@
        @Html.ImageTag("https://jpeg.org/images/jpegsystems-home.jpg", "This is an Image")
    </div>
</body>
</html>
