

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @helper MyListHelper(string[] str)
        {
            if (str.Length == 0)
            {
                <h2>NO DATA EXIST</h2>
            }
            else
            {
                <ul>
                    @foreach (var items in str)
                    {
                        <li>@items</li>
                    }
                </ul>
            }
        }
    </div>
    <div>
        <lable>Example 1 - Name List</lable>
        <div>
            @MyListHelper(new string[] { "Tom", "Harry", "John", "Mark" })
        </div>
    </div>
    <div>
        <lable>Example 2 - Progrmamming Language</lable>
        <div>
            @MyListHelper(new string[] { "C#", "Java", ".Net", "Python " })
        </div>
    </div>
    <div>
        <lable>Example 3 - Empty List</lable>
        <div>
            @MyListHelper(new string[] {  })
        </div>
    </div>
</body>
</html>
